<div class="contributions">
  <div class="contrib-chart">
    <img src="https://ghchart.rshah.org/nurefendi" alt="GitHub contribution chart for Nur Efendi" width="720" height="112" loading="lazy" />
  </div>
</div>

<style>
  .contrib-chart {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .contrib-chart img {
    max-width: none;
    display: block;
  }

  @media (max-width: 640px) {
    .contributions {
      max-width: 100%;
    }
    .contrib-chart {
      overflow: hidden;
      position: relative;
      height: 112px;
    }
    .contrib-chart img {
      position: absolute;
      right: 0;
      top: 0;
      width: 720px;
      height: 112px;
    }
  }
</style>
